*{
  margin: .5rem;
  padding: .5rem;
  font-family: 'Raleway', sans-serif;
}
body, html {
    height: 100%;
    margin: 0;
}

quote {
  display: inline-block
}

img {
  width:50 height 50;
  object-position: right;
  }

figure {
  border: 3px solid teal;
  padding: 1em;
  margin: 25px;
}

container {
  margin: 1em
}
  
}
header img {
  margin: 2rem 0;
}

nav {
  background-color:paleturquoise;
  padding:1em;
}

article h2 {
  color:teal;
  font-weight: 900;
  
}

div {
    background-color: none;
    width: 400px;
    border: 10px solid teal;
    padding: 1em;
    margin: 25px;
    object-position: center;
}

/* unvisited link */
a:link {
    color: slateblue;
}

/* visited link */
a:visited {
    color: mediumpurple;
}

/* mouse over link */
a:hover {
    color: cadetblue;
}

/* selected link */
a:active {
    color: purple;
}

footer {
  border-top-style:double;
}


